@import "base/base";
@import "modules/_brandontext.scss";

//
// Variables
//

$font-stack: 'BrandonText', sans-serif;

// Colors
$mintgreen: #b8fbdd;
$darkmintgreen: #66a99d;

$pink: #d95c7d;
$darkpink: #AD3863;
$ultradarkpink: #752151;
$bluepink: #652651;

$white: #f1cec8;
$overlaycolor:  #65BEB1;

// Spacing

$controls-margin: 1.2em;

// Z-INDEX LAYERS
// -------------------
// Loading screen (3)
// Success Message / Controls (3)
// Foreground (2)
// Sloth Animation (1)
// Big Animation (0)
// Background (-1)

//
// Global
//

body {
	margin: 0;
	overflow: hidden;
	background-color: $mintgreen;
	font-family: $font-stack;
	letter-spacing: 0.04em;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body:hover {
	cursor: none;
}

h3 {
	color: $pink;
	font-weight: 700;
}

p {
	color: $white;
}

// Social media buttons

.button {
	padding: 0.5em;
	padding: 0em 0.5em;
	border-radius: 2px;
	font-weight: 400!important;
	margin-top: 8vh;
	display: inline-block;
	font-size: 0.75em;
	text-decoration: none;
}

.fb-follow {
	border: 1px solid $pink;
	background-color: $pink;
	color: white!important;
}

.fb-share {
	border: 1px solid $bluepink;
	background-color: $bluepink;
	color: white!important;
}

.twitter-share {
	border: 1px solid $darkmintgreen;
	background-color: $darkmintgreen;
	color: white!important;
}

.button_svg {
	margin: 0!important;
	display: inline-block!important;
}

//
// Mobile warning
//

#warning {
	background-color: $ultradarkpink;
	height: 0;
	width: 0;
	opacity: 0;
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
}

#warning:hover {
	cursor: default;
}

#warningwrapper {
	max-width:33em;
	margin: 0 auto;
	margin-top: 15vh;
	padding: 0 2em;
}

#playanyway {
	border-radius: 5px;
	border: 1px solid $mintgreen;
	background-color: $mintgreen;
}

//
// Loading screen
//

#loading {
	width: 100vw;
	height: 100vh;
	background-color: $mintgreen;
	z-index: 4;
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity .25s ease-in-out;
	   -moz-transition: opacity .25s ease-in-out;
	   -webkit-transition: opacity .25s ease-in-out;
}

#loading:hover {
	cursor: default;
}

#loadingwrapper {
	display: inline-block;
	position: relative;
	top: 50%;
	left: 50%;
}

#logo {
	width: 75%;
	max-width: 800px;
	display: block;
	margin: 0 auto;
}

// Play button
#buttonwrapper {
	text-align: center;
}

#play {
	display:inline-block;
	margin: 2em auto;
	margin-bottom: 0.4em;
	height: 80%;
	width: 80%;
}

#play:hover {
	cursor: pointer;
}

#play svg {
	fill: $darkpink;
}

#play svg:hover {
	fill: $ultradarkpink;
}

// Loading indicator
#loadingindicator {
	visibility: hidden;
	opacity: 0;
	width: 9em;
	height: 0.8em;
	background-color: #66a99d;
	margin: 0em auto;
	transition: opacity .25s ease-in-out;
	   -moz-transition: opacity .25s ease-in-out;
	   -webkit-transition: opacity .25s ease-in-out;
	border-radius: 3px;
}

#loadingbar {
	visibility: hidden;
	opacity: 0;
	height: 0.8em;
	background-color: #1d302f;
	transition: opacity .25s ease-in-out;
	   -moz-transition: opacity .25s ease-in-out;
	   -webkit-transition: opacity .25s ease-in-out;
	transition: width 500ms linear;
	   -moz-transition: width 500ms linear;
	   -webkit-transition: width 500ms linear;
	border-radius: 3px;
}

//
// Info screen
//

#info {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    opacity: 0;
    text-align: center;
    background-color: $bluepink;
    transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -webkit-transition: opacity 200ms ease-in-out;
	-webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#info:hover {
	cursor: default;
}

#info a {
	font-weight: 700;
	color: inherit;
  	text-decoration: none;
}

#infowrapper {
	max-width:33em;
	margin: 0 auto;
	margin-top: 15vh;
	padding: 0 2em;
}

#infowrapper h3 {
	margin: 0;
}

#infowrapper img {
	max-width: 313px;
	width: 75%;
}

#infocredits {
	color:  #86d1bc;
	margin-top: 8vh;
}

#inside {
	z-index: -1;
	position: relative;
	width: 100vw;
	height: 100vh;
}

//
// Overlay
//

// Infobutton
#infobutton {
	position: absolute;
	bottom: $controls-margin;
	right: $controls-margin;
	z-index: 4;
	width: 33px;
	height: 33px;
}

// Info icon
#i {
	display: block;
}

// Exit icon
#e {
	display: none;
}

// Audio button
#audiobutton {
	position: absolute;
	top: $controls-margin;
	right: $controls-margin;
	z-index: 4;
	width: 28px;
	height: 23px;
}

// Audio on icon
#on {
	display: block;
}

// Audio off icon
#off {
	display: none;
}

#audiobutton:hover,
#infobutton:hover {
	cursor: pointer;
}

// Text
#textoverlay {
	position: absolute;
	bottom: $controls-margin;
	left: $controls-margin;
	z-index: 4;
	color: $overlaycolor;
}

#textoverlay a {
	font-weight: 700;
	color: inherit;
}

//
// Inside
//

#inside svg {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(100vw * (1080 / 1920));
	max-height: 100vh;
}

//
// Animations
//

#animations {
	z-index: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
}

// Sloth animation
#slothimg {
	z-index: 1;
}

#animationwrapper {
	position: relative;
	margin: 0 auto;
	height: calc(100vw * (1080 / 1920));
	max-height: 100vh;
}

#animationwrapper img {
	position: absolute;
	bottom: 0;
	left: 0;
	height: calc(100vw * (1080 / 1920));
	max-height: 100vh;
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

//
// Canvas
//

#outside {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}

//
// Success screen
//

#success {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: $pink;
    opacity: 0;
    text-align: center;
    transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -webkit-transition: opacity 200ms ease-in-out;
}

#success:hover {
	cursor: default;
}

#successwrapper {
	display: block;
	margin: 0 auto;
	margin-top: 20vh;
}

#success svg {
	display:block;
	margin: 1em auto;
}

#successSloth {
	max-width: 172px;
	width: 75%;
}

#successSentence {
	display:block;
	margin: 1.5em auto;
	width: 75%;
 	max-width: 335px;
}

// Play again button
#playagain {
	margin-top: 2em!important;
	fill: $darkpink;
	max-width: 369px;
  	width: 75%;
}

#playagain:hover {
	fill: $ultradarkpink;
	cursor: pointer;
}