@import "base/base";

@import "modules/toy";

// Z-INDEX LAYERS
// -------------------
// Loading screen (4)
// Success Message / Controls (3)
// Foreground (2)
// Sloth Animation (1)
// Big Animation (0)
// Background (-1)

// Hide all scrollbars to avoid inconsistencies
// in width & height between CSS and JS
body {
	margin: 0;
	overflow: hidden;
	background-color: #b8fbdd;
}

body:hover {
	cursor: none;
}

#logo {
	width: 75%;
	max-width: 800px;
	display: block;
	margin: 0 auto;
}

#loading {
	width: 100vw;
	height: 100vh;
	background-color: #b8fbdd;
	z-index: 4;
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity .25s ease-in-out;
	   -moz-transition: opacity .25s ease-in-out;
	   -webkit-transition: opacity .25s ease-in-out;
}

#loading:hover {
	cursor: default;
}

#loadingwrapper {
	display: inline-block;
	position: absolute;
}

#loadingindicator {
	visibility: hidden;
	opacity: 0;
	width: 9em;
	height: 0.8em;
	background-color: #66a99d;
	margin: 0em auto;
	transition: opacity .25s ease-in-out;
	   -moz-transition: opacity .25s ease-in-out;
	   -webkit-transition: opacity .25s ease-in-out;
	border-radius: 3px;
}

#loadingbar {
	visibility: hidden;
	opacity: 0;
	height: 0.8em;
	background-color: #1d302f;
	transition: opacity .25s ease-in-out;
	   -moz-transition: opacity .25s ease-in-out;
	   -webkit-transition: opacity .25s ease-in-out;
	transition: width 500ms linear;
	   -moz-transition: width 500ms linear;
	   -webkit-transition: width 500ms linear;
	border-radius: 3px;
}

#buttonwrapper {
	text-align: center;
}

#play {
	display:inline-block;
	margin: 2em auto;
	margin-bottom: 0.4em;
	height: 80%;
	width: 80%;
}

#play:hover {
	cursor: pointer;
}

#play svg {
	fill: #AD3863;
	transition: fill 100ms ease-in-out;
	   -moz-transition: fill 100ms ease-in-out;
	   -webkit-transition: fill 100ms ease-in-out;
}

#play svg:hover {
	fill: #752151;
}

#inside {
	z-index: -1;
	position: relative;
	width: 100vw;
	height: 100vh;
}

// Make the inside of the scenery the same size as the outside
#inside svg {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(100vw * (1080 / 1920));
	max-height: 100vh;
}

#animationwrapper img {
	position: absolute;
	bottom: 0;
	left: 0;
	height: calc(100vw * (1080 / 1920));
	max-height: 100vh;
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

#animations {
	z-index: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
}

#animationwrapper {
	position: relative;
	margin: 0 auto;
	height: calc(100vw * (1080 / 1920));
	max-height: 100vh;
}

#slothimg {
	z-index: 1;
}

#outside {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}

#info {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    background-color: blue;
    transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -webkit-transition: opacity 200ms ease-in-out;
}

#info:hover {
	cursor: default;
}

#infobutton {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 3;
}

#audiobutton {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 3;
}

#success {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #d95c7d;
    opacity: 0;
    text-align: center;
    transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -webkit-transition: opacity 200ms ease-in-out;
}

#success:hover {
	cursor: default;
}

#successwrapper {
	display: inline-block;
	margin: 0 auto;
	margin-top: 30vh;
}

#success svg {
	display:block;
	margin: 1em auto;
}

#successSloth {
	margin-bottom: 0!important;
}

#successSentence {
	margin-top: 0!important;
}

#playagain {
	fill: #AD3863;
	transition: fill 100ms ease-in-out;
	   -moz-transition: fill 100ms ease-in-out;
	   -webkit-transition: fill 100ms ease-in-out;
}

#playagain:hover {
	fill: #752151;
	cursor: pointer;
}