!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
      = current_page.data.title || "Page Title"
    %meta{:name => "description", content: "The lost sloth - a fun web game by Max Stoiber and Bee Grandinetti"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0"}/
    %meta{:rel => "apple-touch-icon", :href => "favicons/apple-touch-icon.png"}
    %link{:rel => "icon", :href => "favicon.png"}

    /[if lt IE 9 ] <script type="text/javascript" src="javascripts/flashcanvas.js"></script> 

    = yield_content(:javascripts)
    = yield_content(:stylesheets)

  %body{class: page_classes, :onload => "centerLoadingwrapper();"}

    = yield