---
title: Find the sloth
---

/ Assets 

- content_for(:javascripts) do
  = javascript_include_tag  "home"

- content_for(:stylesheets) do
  = stylesheet_link_tag  "home"

/ Haml

%div#controls

%div#inside

%div#animations
  %div#animationwrapper

%canvas#outside

%div.success
  %h1 SUCCESS

:javascript
  if (!Modernizr.webaudio) {
    $("body").append("<script src='javascripts/waapisim.js' />");
  }

%script{:src => "javascripts/script.js"}