---
title: Find the sloth
---

/ Assets 

- content_for(:javascripts) do
  = javascript_include_tag  "home"

- content_for(:stylesheets) do
  = stylesheet_link_tag  "home"

/ Haml

%div#loading
  %button#play{:onclick => "playButtonClick()"} Play
  %span#loadingindicator

%div#controls

%div#inside

%div#animations
  %div#animationwrapper

%canvas#outside
  %div
  
%div.success
  %h1 SUCCESS

%script{:src => "javascripts/preloadjs.min.js"}
%script{:src => "javascripts/initial.js"}