---
title: Page Title
---

/ Assets 

- content_for(:javascripts) do
  = javascript_include_tag  "home"

- content_for(:stylesheets) do
  = stylesheet_link_tag  "home"

/ Haml

%div#inside

%div#animations

%canvas#outside

%div.success
  %h1 SUCCESS

%audio#water{:src => "audio/water.wav", :autoplay => "true", :loop => "true"}

%script{:src => "javascripts/script.js"}