---
title: Find the sloth
---

/ Assets 

- content_for(:javascripts) do
  = javascript_include_tag  "home"

- content_for(:stylesheets) do
  = stylesheet_link_tag  "home"

/ Haml

%div#loading
  %div#loadingwrapper
    %img#logo{:src => "scenes/start_screen/start.gif"}
    %div#buttonwrapper
      %div#play{:onclick => "playButtonClick()"}
        %img{:src => "scenes/start_screen/handdrawn/find_it.svg"}
    %div#loadingindicator
      %div#loadingbar

%div#controls

%div#inside

%div#animations
  %div#animationwrapper

%canvas#outside
  %div
  
%div.success
  %h1 SUCCESS

%script{:src => "javascripts/preloadjs.min.js"}
:javascript
  var sceneName;
%script{:src => "javascripts/initial.js"}